
#Arduino
**/.pio
**/.vscode
master/arduino/build/
master/arduino/downloadedLibraries/

#STM32
master/stm32/l432kc/.settings/
master/stm32/l432kc/Debug/
master/stm32/h7a3zi-q/.settings/
master/stm32/h7a3zi-q/Debug/

#HMI
package-lock.json
node_modules/

#Unit Testing
master/venv/
__pycache__/
**/*.exe
