
#Arduino
**/.pio
**/.vscode
master/arduino/build/
master/arduino/downloadedLibraries/

#STM32
master/stm32/**/.settings
master/stm32/**/Debug

#HMI
package-lock.json
node_modules/

#Unit Testing
master/venv/
__pycache__/
**/*.exe
