setuptools
coverage==7.3.2
pytest==7.4.2
pytest-mock==3.12.0
python-dotenv==1.0.0
python-dotenv[cli]
requests==2.31.0
google-api-python-client
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-pubsub
google-auth
gspread
click>=7.1.2
typing==3.7.4.3
pydantic==2.5.1
brotli==1.1.0
boto3>=1.16.47
PyYAML==6.0.1
pandas
numpy