setuptools
coverage==6.2.0
pytest==7.0.0
pytest-mock==3.10.0
python-dotenv==0.19.2
python-dotenv[cli]
requests==2.31.0
google-api-python-client
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-pubsub
google-auth
gspread
click>=7.1.2
typing==3.6.4
pydantic==1.8.1
brotli==1.0.9
boto3>=1.16.47
PyYAML==5.4
pandas
numpy